.profile-element {
  text-align: center;
  width: 113px;
  color: #f7f7f7;
  font-size: 20px;
  cursor: pointer;
  margin: 18px;
}

.profile-element-img {
  height: 113px;
  width: 113px;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 3px 6px #000000;
  margin-bottom: 5px;
}
