.back-btn {
  --color: #ff5347;
  --ripple-color: #ff5347;
  --color-activated: #ff5347;
  --color-focused: #ff5347;
}

.title {
  --color: #ff5347;
}

.label {
  --color: #ff5347;
}

.filter-item {
  --color: #ff5347;
  margin-top: 20px;
}

.date-picker {
  margin-left: 10px;
}

.label-icon {
  --color: #ff5347;
  margin-right: 115px;
}

.icon-style {
  margin-right: 4px;
  position: relative;
  bottom: -2px;
}

.explore-button {
  --background-color: #ff5347;
}
