.explore-trip {
  width: 92%;
  height: 201pt;
  margin: 18pt auto;
  display: flex;
  position: relative;
  flex-flow: column;
  border-radius: 5pt;
  background: white;
  box-shadow: 0pt 3pt 6pt rgba(0, 0, 0, 0.16);

  & .picture {
    position: relative;
    width: 94%;
    margin: 0 auto;
    height: 140pt;
    background: url(https://picsum.photos/400/200);
    top: 9pt;
  }

  & .trip-info {
    position: relative;
    left: 2%;
    top: 47pt;
    & .save {
      position: absolute;
      right: 5%;
      font-size: 23pt;
      bottom: 4pt;
      color: rgba(193, 193, 193, 1);
      border: rgba(167, 167, 167, 1);
    }
    & .trip-name {
      position: absolute;
      bottom: -1pt;
      font-family: "Roboto";
      font-size: 16pt;
      left: 9pt;
      width: 150pt;
      font-weight: bold;
    }
    & .info {
      position: relative;
      top: 13pt;
      & .days-container {
        position: absolute;
        bottom: -3px;
        left: 10pt;

        & .number {
          position: relative;
          top: 28pt;
          font-size: 13pt;
          font-family: "Roboto";
          font-weight: bold;
          color: #ff4357;
        }

        & .days {
          position: relative;
          left: 12pt;
          top: 1pt;
          font-size: 12pt;
          font-weight: bold;
          color: #4f4e4f;
        }
      }

      & .attractions-container {
        position: absolute;
        bottom: -3px;
        left: 70pt;

        & .location {
          position: relative;
          top: 30pt;
          font-size: 11pt;
          font-family: "Roboto";
          font-weight: bold;
          color: #ff4357;
        }

        & .attraction {
          position: relative;
          left: 12pt;
          top: 3pt;
          font-size: 13pt;
          font-family: "Roboto";
          font-weight: bold;
          color: #4f4e4f;
        }
      }

      .price-container {
        position: absolute;
        bottom: 22pt;
        left: 103pt;

        .icon {
          position: relative;
          top: 28pt;
          font-size: 12pt;
          font-family: "Roboto";
          font-weight: bold;
          color: #ff4357;
        }

        .price {
          position: relative;
          left: 10pt;
          top: 14pt;
          font-size: 12pt;
          font-weight: bold;
          color: #4f4e4f;
          font-family: "Roboto";
        }
      }
    }
  }
}
