.flights {
  & .header {
    position: relative;
    width: 100%;
    height: 48pt;
    text-align: center;
    background: linear-gradient(to right, #fe784d 0%, #ff5347 100%);

    .title {
      position: relative;
      font-family: "Roboto";
      font-weight: bold;
      color: white;
      z-index: 1;
      font-size: 17pt;
      bottom: 35pt;
    }

    .back-btn {
      color: white;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }

  & .flights-container {
    position: relative;
    display: flex;
    flex-flow: column;
    bottom: 61pt;
  }

  & .flight {
    margin-top: 96pt;
    position: relative;
  }

  & .more-flights {
    width: 90%;
    left: 50%;
    margin-left: -45%;
    background: linear-gradient(to right, #fe784d 0%, #ff5347 100%);
    border: none;
    text-align: center;
    height: 40pt;
    display: flex;
    color: white;
    border-radius: 34px;
    flex-flow: column;
    position: relative;
  }
}
