.flights {
  & .flights-container {
    position: relative;
    display: flex;
    flex-flow: column;
    bottom: 21pt;
  }

  & .flight {
    margin-top: 96pt;
    position: relative;
  }

  & .more-flights {
    width: 90%;
    left: 50%;
    margin-left: -45%;
    background: linear-gradient(to right, #fe784d 0%, #ff5347 100%);
    border: none;
    text-align: center;
    height: 40pt;
    display: flex;
    color: white;
    top: 32pt;
    border-radius: 34px;
    flex-flow: column;
    position: relative;
  }
}
