
.back {
    display: inline-block;
    margin-top: 29px;
    margin-left: 30px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 13%;
    display: inline-block;
    margin-bottom: 7%;
}

.top {
    padding-top:20px;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, #FE784D, #FF5347);
    color: white;
}
.map-placehplder{
    position: initial !important;
    height: 95% !important;
}
#map{
    height: 50%;
    position: absolute;
}
.container {
    background-color: #F7F7F7;
    padding-bottom: 20px;
    height: 100vh;
}
.map {
    height: 300px;
}
.details{
    padding:50px;
    > img{
        float: left;
        width: 24px;
        height: 24px;
    }
    .current-location{
        float: left;
        width: 70%;
        margin-left: 11px;
        span:first-child{
            display: block;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.routes{
    float: left;
    width: 70%;
    margin-top: 21px;
    > img{
        float: left;
        width: 24px;
        height: 24px;
    }
    .route{
        float: left;
        width: 70%;
        margin-left: 11px;
        span:first-child{
            display: block;
            font-size: 14px;
            font-weight: bold;
        }
    }
 
}
.bth-my-location{
    float: left;
    width: 123px;
    height: 27px;
    border: 2px solid #FF5347;
    text-align: center;
    color: #FF5347;
    font-weight: bold;
    border-radius: 27px;
    font-size: 14px;
    background-color: white;
    margin: 0 auto;
    padding-top: 6px;
    margin-top: 15px;
    margin-left: 32px;
}
.kilometers{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}