
.back {
        float: left;
        margin-top: 29px;
        margin-left: 30px;
    }

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 26%;
    margin-top: 6%;
    float: left;
}

.top {
    padding-top:20px;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, #FE784D, #FF5347);
    color: white;
}
.map-placeholder{
    position: absolute;
    height: 100vh;
    width: 100%;
}
.gm-svpc{
    display: none !important; 
}
.gmnoprint{
    display: none !important;
}
#map{
    position: absolute !important;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
}
.container {
    background-color: #F7F7F7;
    padding-bottom: 20px;
    height: 100vh;
}
.details{
        .marker{
            font-weight: bold;
            margin-left: 11px;
        }
        padding: 13px;
        overflow-y: scroll;
        position: absolute;
        margin-top: 83%;
        background-color: rgba(255, 255, 255, 0.8);
        width: 80%;
        margin-left: 6%;
        text-align: left;
        height: 40%;
        box-shadow: 0px 2px 14px -11px;
    > img{
        float: left;
        width: 24px;
        height: 24px;
    }
    .current-location{
        float: left;
        width: 70%;
        margin-left: 11px;
        span:first-child{
            display: block;
            font-weight: bold;
        }
    }
}
.place{
    >img{
        vertical-align: bottom;
    }
}
.routes{
    float: left;
    width: 70%;
    margin-top: 21px;
    > img{
        float: left;
        width: 24px;
        height: 24px;
        vertical-align: bottom;
    }
    .route{
        width: 90%;
        margin-top: 5%;
        margin-left: 16%;
        span:first-child{
            display: block;
            font-size: 14px;
            font-weight: bold;
        }
    }
 
}
.bth-my-location{
    float: left;
    width: 123px;
    height: 27px;
    border: 2px solid #FF5347;
    text-align: center;
    color: #FF5347;
    font-weight: bold;
    border-radius: 27px;
    font-size: 14px;
    background-color: white;
    margin: 0 auto;
    padding-top: 6px;
    margin-top: 15px;
    margin-left: 32px;
}
.kilometers{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}