.trip-main-bg {
  background-color: #f7f7f7;
}

.view-map {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  & .trips-container {
    position: relative;
    top: 42pt;
  }

  & .view-trip-header {
    position: relative;
    top: 48pt;
  }

  & .attractions-container {
    position: relative;
    top: 61vh;
  }

  & .map-view {
    position: fixed;
    z-index: 5;
    top: 50pt;
    height: 50vh;
    width: 100%;
  }
}
