.explore-bg {
  background-color: #f7f7f7;
}

.explore {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  & .explore-trip-container {
    position: relative;
    top: 41pt;
  }

  & .no-trip {
    position: relative;
    text-align: center;
    color: #404040;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
