.explore-bg {
  background-color: #f7f7f7;
}

.explore {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  & .explore-trip-container {
    position: relative;
    top: 41pt;
  }
}
