@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

.list-ios,
.list-md {
  background: none;
}

.trip {
  position: relative;
  display: flex;
  flex-flow: row;
  background-color: white;
  width: 86%;
  height: 74px;
  align-items: center;
  box-shadow: 0px 3pt 6pt rgba(0, 0, 0, 0.16);

  & .trip-picture {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 18px;
    border-radius: 50px;
    background-size: cover;
    background-image: url("https://picsum.photos/35");
    background-color: green;
  }

  & .tag-icon {
    position: relative;
    color: #ff5347;
    left: 63px;
    bottom: -13px;
    margin-right: 8px;
  }

  & .trip-content {
    position: relative;
    bottom: 1px;
    width: 100%;
    height: 100%;
    .city-name {
      position: absolute;
      left: 67px;
      bottom: 18px;
      color: #313131;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 1.05rem;
    }
    .total-attractions {
      position: absolute;
      left: 56px;
      bottom: 17px;

      .total-attraction-days {
        position: relative;
        left: 81px;
        top: 33px;
        margin-right: 8px;
        font-family: "Roboto";
        font-weight: 700;
        color: #4f4e4f;
        font-size: 0.9rem;
      }

      .total-attraction-number {
        left: 69px;
        bottom: 1pt;
        position: relative;
        color: #ff5347;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 8pt;
      }
    }

    .total-days {
      position: absolute;
      bottom: 32px;

      .total-days-days {
        color: #4f4e4f;
      }

      .total-days-number {
        left: 66px;
        top: 30px;
        position: relative;
        color: #ff5347;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 0.85rem;
      }
    }
  }

  & .trip-devider {
    position: absolute;
    right: 61px;
    border-left: 1px solid #c6c6c6;
    height: 55%;
  }

  & .trip-date {
    position: absolute;
    top: 34px;
    right: 6px;
  }

  & .day {
    right: 11px;
    bottom: -29px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    color: #ff5347;
  }

  & .month {
    right: 7px;
    bottom: -41px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: #4f4e4f;
  }
}
